/*fonts*/
.header-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.secheader-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.normal-text-header{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}

.normal-text{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
}

.nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:#00876c;
}
/*Colors and theme*/
.primary-theme{
    color: white;
    background-color: #00876c;
}

.primary-atn{
    color:#00876c;
    background-color: white;
}

.navbar{
    border-color:#00876c;
}