/*fonts*/
.header-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.secheader-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.normal-text-header{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;
}

.normal-text{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
    text-align: justify;
}

.nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:#00876c;
}
/*Colors and theme*/
.primary-theme{
    color: white;
    background-color: #00876c;
}

.primary-atn{
    color:#00876c;
    background-color: white;
}

.navbar{
    border-color:#00876c;
}

.team-boxes{
    box-shadow: 10px 10px 5px lightgrey;
}

li{
    margin-bottom:5px;
}

.publication-elements{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
    padding-left: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.quote{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #00876c;
}

.quote-box{
    border-radius: 25px;
    border: 3px solid #00876c;
}

.index-detail-box{
    background: #00876c;
    color: white;
    border-radius: 25px;
}

.index-designation{
    color:black;
    border-radius: 25px;
    border: 2px solid #00876c;
}

.research-image-left{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.bottom-right {
    position: absolute;
    right: 30px;
  }

@media screen and (max-width: 600px) {
    .research-image-left{
        height: 150px;
        width: auto;
    }
}

@media screen and (min-width: 600px) {
    .research-image-left{
            height: 200px;
            width: auto;
    }    
}

.research-image-right{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

@media screen and (max-width: 600px) {
    .research-image-right{
        height: 150px;
        width: auto;
    }
    .bottom-right{
        top: 135px;
    }
}

@media screen and (min-width: 600px) {
    .research-image-right{
            height: 200px;
            width: auto;
    }
    .bottom-right {
        top: 185px;
    }    
}

.container {
    position: relative;
    text-align: center;
    color: white}