---
layout: default
description: Template for publications page.
---

<article>
	<style>
		h11 {
			 color: red;
			 text-align: center;
		}
		
		h12 {
			 color: green;
			 text-align: left;
		}
	</style>
</article>

{% if page.publications and site.data[page.publications] %}
  {% assign publications = site.data[page.publications] %}
{% elsif site.data.publications %}
  {% assign publications = site.data.publications %}
{% endif %}

{{ content }}
<article>
	<h12>
		Peer-reviewed
	</h12>
</article>
{% for member in publications %}
	{% if member.status == "peerrev" %}
		{{ member.number }}
		{{% for author in member.authors %}}
			{{ author.n }}
		{{% endfor %}}
		({{ member.year }}).
		{{ member.name }}.
		<strong>{{ member.publishing }}</strong>.
		{% if member.doi %}
			DOI: <a href="https://doi.org/{{ member.doi }}">{{ member.doi}} </a>
		{% endif %}	
	{% endif %}
{% endfor %}